{% extends "template_base.html" %}

{% block content %}

    <style>
        .ger-container-login {
            background: rgb(199, 199, 199);
            border-radius: 1em;
        }
        .panel-heading{
            padding: 1.5em 1.5em 0.5em 1.5em;
            text-align: center;
            background: rgb(144, 146, 149);
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }
        .panel-body{
            padding: 1.5em;
            color: black;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
        }
        .ger-erro-login{
            padding: 1em;
        }
        
    </style>
    <div class="pure-g">
        {% if form.errors %}
            <div class="pure-u-1 pure-u-sm-1-6 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-3-8"></div> 
            <div class="pure-u-1 pure-u-sm-2-3 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                <div class="ger-erro-login" role="alert">
                    <p>Your username and password didn't match. Please try again.</p>
                </div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-6 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-3-8"></div>
        {% endif %}
        <div class="pure-u-1 pure-u-sm-1-6 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-3-8"></div>               
        <div class="pure-u-1 pure-u-sm-2-3 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
            <div class="ger-container-login">
                <div class="panel-heading">
                    <div class="panel-title">
                        <b>Sign In</b>
                    </div>
                </div>
                <div class="panel-body" >
                    <div id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <form id="loginform" class="pure-form pure-form-aligned" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}
                        <fieldset>
                            <div class="pure-control-group">
                                <label for="name">Username</label>
                                <input id="name" type="text" name="username" placeholder="Username">
                            </div>

                            <div class="pure-control-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password" placeholder="Password">
                            </div>

                            <div class="pure-controls">
                                <button type="submit" class="pure-button pure-button-primary">Login</button>
                            </div>
                            <input type="hidden" name="next" value="{{next}}"/>
                        </fieldset>
                    </form> 
                </div> 
            </div>                    
        </div>
        <div class="pure-u-1 pure-u-sm-1-6 pure-u-sm-2-3 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-3-8"></div>
    </div>
    
    
{% endblock %}