{% extends "template_base.html" %}
 
{% block content %}


<script>
function colourFunction() {
var myselect = document.getElementById("nivel_select"),
colour = myselect.options[myselect.selectedIndex].className;
myselect.className = colour;
myselect.blur(); //This just unselects the select list without having to click somewhere else on the page
}
</script>


{{ form.non_field_errors }}

<div style="text-align: left;">
<form action="" method="POST">{%csrf_token%}
	<input type="hidden" name="tipo_alarma" value={{ tipo_alarma }} >
	<h2>Creacion de Alarmas</h2>
	{% if tipo_alarma == '1' %}
	<h3>Nueva Alarma de Humo</h3>
	{% elif tipo_alarma == '2' %}
	<h3>Nueva Alarma de Uso electrico</h3>
	{% elif tipo_alarma == '3' %}
	<h3>Nueva Alarma de Estado de inmueble</h3>
	{% elif tipo_alarma == '4' %}
	<h3>Nueva Alarma de Ingreso</h3>
	{% else %}
	<h3></h3>
	{% endif %}
	
	{{ alarma_formset.management_form }}
	
	 {% for form in alarma_formset.forms %}
   		{% for field in form %}
    	<div style="text-align: center;">
        	{{ field.errors }}
        	{% if field.label == 'Sensor' %}
        		{% if error_sensor != '' %}
        			<label>{{error_sensor}}</label>
        		{% endif %}
        	{% endif %}

        	<table width="100%" border="0" >
        	
        		<tr class="spaceUnder">
        		<td style="text-align: left;">
        		<label>{{field.label}}: </label>
        		</td>
        		<td style="text-align: right;">
        			{% if field.label == 'Sensor' %}

	        			<select name="sensor_select" title="sensor_select">
	        			   <option value="0">--------------</option>
	        			   {% for sensor in sensores %}
						   <option value={{ sensor.id }}>{{ sensor.nombre }}</option>
						   {% endfor %}
						</select>
			        {% else %}
				        {% if field.label == 'Nivel' %}
		        			<select name="nivel_select" onchange="colourFunction()"          title="nivel_select">
								<option class="red" value="2">Critica</option>
								<option class="yellow" value="1">Media</option>
								<option class="green" value="0">Basica</option>
							</select>
						{% else %}
							{{ field }}
						{% endif %}
			        {% endif %}
        		</td>
        		
        		<td class="spaceleft" style="text-align: left;" width="20%" >
        		{% if field.help_text != '' %}
        		<label>{{field.help_text}}</label>
        		{% else %}
        		{% endif %}
        		</td>

        		</tr>

        	</table>

	        {% for error in field.errors %}

	        {% endfor %}

	    </div>
{% endfor %}
      
    
    {% endfor %}
    <div style="text-align: center; width=50%;" >
	<input type="submit" name=""
	style="height:80px;width:150px; "
	 value="Grabar" placeholder="">
	 </div>

</form>
</div>
{% endblock %}
