{% extends "template_base.html" %}
 
{% block content %}
<style>
    form input{
        color: black;
    }
    input{
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.5em;
    }
    .ger-form-container {
        background: rgb(121, 121, 121);
    }
    .ger-container-create-element {
        background: rgb(199, 199, 199);
        border-radius: 1em;
    }
    .panel-heading{
        padding: 1.5em 1.5em 0.5em 1.5em;
        text-align: center;
        background: rgb(144, 146, 149);
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    .panel-body{
        padding: 1.5em;
        color: black;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
</style>
<div style="margin-top: 2em;" class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-6 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-3-8"></div>               
        <div class="pure-u-1 pure-u-sm-2-3 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
            <div class="ger-container-create-element">
                <div class="panel-heading">
                    <div class="panel-title">
                        <b>Agregar elemento al inmueble {{resultado.inmueble_actual.nombre}}</b>
                    </div>
                </div>
                <div class="panel-body" >
                    <div id="create-element-alert" class="alert alert-danger col-sm-12"></div>
                    {{ form.non_field_errors }}

                    <form action="" method="POST">{%csrf_token%}
                    	<input type="hidden" name="inmueble_id" value={{ resultado.inmueble_actual.id }} >
                    	
                    	{{ alarma_formset.management_form }}
                    	
                    	{% for form in alarma_formset.forms %}
                       		{% for field in form %}
                        	<div style="text-align: center;">
                            	{{ field.errors }}

                            	<table width="100%" border="0" >
                            	
                            		<tr class="spaceUnder">
                            		<td style="text-align: left;">
                            		<label>{{field.label}}: </label>
                            		</td>
                            		<td style="text-align: right;">
                            		
                    							{{ field }}
                    				
                    			    
                            		</td>
                            		
                            		<td class="spaceleft" style="text-align: left;" width="20%" >
                            		{% if field.help_text != '' %}
                            		<label>{{field.help_text}}</label>
                            		{% else %}
                            		{% endif %}
                            		</td>
                                    

                            	</table>

                    	        {% for error in field.errors %}

                    	        {% endfor %}

                    	    </div>
                        {% endfor %}
                          
                        
                        {% endfor %}
                        <div style="text-align: center;" >
                           <p> * S&oacute;lo puedes agregar elementos el&eacute;ctricos</p>
                        </div>
                        <div style="text-align: center; width=50%;" >
                    	   <input type="submit" name="" value="Grabar" placeholder="">
                    	</div>
                        
                    </form>
                </div> 
            </div>                    
        </div>
    <div class="pure-u-1 pure-u-sm-1-6 pure-u-sm-2-3 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-3-8"></div>
</div>
{% endblock %}
