{% extends "template_base.html" %}
 
{% block content %}


<script>
function colourFunction() {
	var myselect = document.getElementById("nivel_select"),
	colour = myselect.options[myselect.selectedIndex].className;
	myselect.className = colour;
	myselect.blur(); //This just unselects the select list without having to click somewhere else on the page
}
</script>
<style>
	form input{
		color: black;
	}
	input{
		padding: 0.2em;
		margin: 0.2em;
		border-radius: 0.5em;
	}
	.ger-form-container {
		background: rgb(121, 121, 121);
	}
	.ger-container-create-element {
        background: rgb(199, 199, 199);
        border-radius: 1em;
    }
    .panel-heading{
        padding: 1.5em 1.5em 0.5em 1.5em;
        text-align: center;
        background: rgb(144, 146, 149);
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    .panel-body{
        padding: 1.5em;
        color: black;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
</style>

{{ form.non_field_errors }}
<div style="margin-top: 2em;" class="pure-g">
	<div class="pure-u-1 pure-u-sm-1-6 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-3-8"></div>               
        <div class="pure-u-1 pure-u-sm-2-3 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
            <div class="ger-container-create-element">
                <div class="panel-heading">
                    <div class="panel-title">
                        {% if tipo_alarma == '1' %}
						<b>Creando alarma de humo</b>
						{% elif tipo_alarma == '2' %}
						<b>Creando Alarma de uso el&eacute;ctrico</b>
						{% elif tipo_alarma == '4' %}
						<b>Creando alarma de disponibilidad de acceso</b>
						{% elif tipo_alarma == '3' %}
						<b>Creando alarma de ingreso de personas</b>
						{% else %}
						<b></b>
						{% endif %}
                    </div>
                </div>
                <div class="panel-body" >
                    <div id="create-element-alert" class="alert alert-danger col-sm-12"></div>
					<form action="" method="POST">{%csrf_token%}
						<input type="hidden" name="tipo_alarma" value={{ tipo_alarma }} >
						
						{{ alarma_formset.management_form }}
						
						{% for form in alarma_formset.forms %}
					   		{% for field in form %}
						    	<div style="text-align: center;">
						        	{{ field.errors }}
						        	{% if field.label == 'Sensor' %}
						        		{% if error_sensor != '' %}
						        			<label>{{error_sensor}}</label>
						        		{% endif %}
						        	{% endif %}

						        	<table width="100%" border="0" >
						        	
						        		<tr class="spaceUnder">
						        		<td style="text-align: left;">
						        		<label>{{field.label}}: </label>
						        		</td>
						        		<td style="text-align: right;">
						        			{% if field.label == 'Sensor' %}

							        			<select name="sensor_select" title="sensor_select">
							        			   <option value="0">--------------</option>
							        			   {% for sensor in sensores %}
												   <option value={{ sensor.id }}>{{ sensor.nombre }}</option>
												   {% endfor %}
												</select>
									        {% else %}
										        {% if field.label == 'Nivel' %}
								        			<select name="nivel_select" onchange="colourFunction()" title="nivel_select">
														<option class="red" value="2">Cr&iacute;tica</option>
														<option class="yellow" value="1">Media</option>
														<option class="green" value="0">B&aacute;sica</option>
													</select>
												{% else %}
													{{ field }}
												{% endif %}
									        {% endif %}
						        		</td>
						        		
						        		<td class="spaceleft" style="text-align: left;" width="20%" >
						        		{% if field.help_text != '' %}
						        		<label>{{field.help_text}}</label>
						        		{% else %}
						        		{% endif %}
						        		</td>

						        		</tr>

						        	</table>

							        {% for error in field.errors %}

							        {% endfor %}

							    </div>
							{% endfor %}
					    {% endfor %}
					    <div class="pure-g">
						    <div class="pure-u-1-2" style="text-align: center;">
								<input type="submit" value="Guardar" placeholder="">
							</div>
							<div class="pure-u-1-2" style="text-align: center;">
								<input class="btn btn-default" type="button" value="Cancelar" onClick="window.history.back()"/>
							</div>
						</div>

					</form>
				</div> 
        	</div>                    
    	</div>
    <div class="pure-u-1 pure-u-sm-1-6 pure-u-sm-2-3 pure-u-md-1-4 pure-u-lg-1-3 pure-u-xl-3-8"></div>
</div>
{% endblock %}
